.sidebar {
  width: 240px;
  height: 100vh;
  background: #0f172a;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
}

.sidebar.collapsed {
  width: 70px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px;
  border-bottom: 1px solid #1e293b;
}

.logo {
  font-size: 18px;
  font-weight: 600;
}

.toggle-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 12px 18px;
  color: #cbd5f5;
  text-decoration: none;
  transition: background 0.2s;
}

.nav-link:hover {
  background: #1e293b;
  color: #fff;
}

.nav-link.active {
  background: #2563eb;
  color: white;
}

.icon {
  font-size: 18px;
}

.text {
  font-size: 15px;
}


.center{
  display: grid;
  place-items: center;
  height: 100vh;
}